# Игнорировать .env файл с токенами
.env

# Игнорировать ключ Google
creds.json

# Игнорировать PyCharm настройки и кэш
.idea/

# Игнорировать Python кэшированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальные окружения
venv/
env/



tests/run_ngrok.py
tests/all.py
tests/