# Игнорировать .env файл с токенами
.env


# Игнорировать файлы
start_ngrok.bat
test_flask.py
test_get.py
curl_test.py

# Игнорировать PyCharm настройки и кэш
.idea/

# Игнорировать Python кэшированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальные окружения
venv/
env/
